services:
  postgres:
    image: postgres:17
    container_name: peremohasports_test_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    networks:
      - db-network

networks:
  db-network:
    driver: bridge