version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - db-network

  app:
    image: node:20
    container_name: app
    working_dir: /app
    volumes:
      - ./course-work:/app
      - /app/node_modules
    env_file:
      - ./course-work/.env
    ports:
      - "3000:3000"
      - "5555:5555"
    depends_on:
      - postgres
    command: sleep infinity
    networks:
      - db-network

volumes:
  postgres_data:

networks:
  db-network:
    driver: bridge
